{% extends "base.html" %}

<!-- needs django-widget-tweaks to allow inject of css class for bootstrap3 -->
{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
<strong>Your username and password didn't match or your account has not been activated by staff. Please try again.</strong>
{% endif %}

{% if next %}
    {% if user.is_superuser %}
        Need to get you to admin page
    {% endif %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<!-- Login window -->
    <div class="about-h2" style="margin-bottom: -20px;">Welcome: Please Sign-in</div>
       <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p>Please login to begin or continue your research. We will you all the best in your endeavors!</p>
             <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <!-- <p id="profile-name" class="profile-name-card">Sign In</p> -->
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

                <input type="text" id="id_username" class="form-control" placeholder="Username" name="username" maxlength="245" required autofocus=""><br>

                <input type="password" id="id_password" class="form-control" placeholder="Password" name="password" required>

                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Login</button>
            </form>
            <a href="{% url 'password_reset' %}" class="forgot-password">Lost password?</a>
       </div>


    <!-- /container -->

     <div class="about-half-line"></div>

     <p>If you have any questions, need assisting in using the platform, or require assistance in interpreting
        analysis results please email  <a style="color: #35b7f0" href="mailto:ctox@indianabiosciences.org">ctox@indianabiosciences.org</a>.</p>



{% endblock %}