{% extends "base.html" %}

{% block content %}
<h1>Update User Information | {{ user }}</h1>
    <form method="post" action="{% url 'profile' %}">
{% csrf_token %}
<table>
<tr>
    <td colspan="2" align="center"><a href="{% url 'password_change' %}">Change password</a></td>
</tr>
<tr>
    <th style="text-align:right; vertical-align:middle">First name:</th>
    <td><input type="text" id="first_name" value="{{ request.user.first_name }}"size="30"></input></td>
</tr>
<tr>
    <th style="text-align:right; vertical-align:middle">Last name:</th>
    <td><input type="text" id="first_name" value="{{ request.user.last_name }}" size="30"></input></td>
</tr>
<tr>
    <th style="text-align:right; vertical-align:middle">email:</th>
    <td><input type="text" id="email" value="{{ request.user.email }}" size="30"></input></td>
</tr>
<tr><td colspan="2" align="center">
    <input type="submit" value="Update User Profile" />
    <input type="hidden" name="next" value="{{ next }}" />
</td></tr>
</table>

</form>

{% endblock %}