{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text| striptags|cut:"&#39;" }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
    <p>You will be notified when your account is activated after signup</p>
  </form>
{% endblock %}