{% extends "base.html" %}

{% block content %}

  <h3>About IBRI's Toxicogenomic Platform</h3>

    <p>Eli Lilly and Company, Dow AgroSciences, and the Indiana Biosciences Research Institute (IBRI) formed a
        multiparty collaboration to generate a shared data analytics platform for early assessment of the potential
        effects of different molecules on human health and the environment. This initiative will ultimately
        accelerate research by enabling timely decisions on the safety of compounds early in the discovery
        process based on shared data sets, new tools, and the collective understanding of molecular structure.</p>

    <p>This toxicogenomics platform will build upon the respective expertise of the scientist's at both Eli Lilly and Co
        and Dow AgroSciences to facilitate sharing their expertise and processes to the broader scientific community to
        enhance the reproducibility of results and catalyze the advances of this science. Dow AgroSciences
        and Eli Lilly and Company both perform these assessments on a regular basis during discovery research
        efforts and have optimized their processes in a similar way despite doing this independently within their
        respective organizations. This project is an opportunity to work collaboratively to advance the science more
        rapidly than either of these organizations alone.</p>

    <p>The Indiana Biosciences Research Institute (IBRI) is an independent, nonprofit discovery science and applied
        research institute within Indiana provides a unique partner to these companies to bridge these capabilities
        to the research community. IBRI can also faciliate access and engagement with the academic and other research
        organizations to assist in enhancing this platform. It is planned that this platform will be placed in the
        open source community at the appropriate stage to futher develop these capabilities and intgerate with other
        data sources.

    <h4>Collaboration Sponsors</h4>
    <ul>
        <li><A target = "_blank" HREF="www.dowagro.com">Dow AgroSciences</A></li>
        <li><A target = "_blank" HREF="www.lilly.com">Eli Lilly and Company</A></li>
    </ul>

    <h4>Academic Partners</h4>
    <ul>
        <li>TBD</li>
    </ul>


    <h4>Press Releases</h4>
    <ul>
        <li>March 08, 2017 <A target="_blank"
                              HREF="https://globenewswire.com/news-release/2017/03/08/933474/0/en/IBRI-Lilly-Dow-AgroSciences-Partner-to-Develop-Shared-Database-to-Assess-Molecular-Safety.html">Press Release</A> announcing the Collaboration</li>
    </ul>


    <h4>References</h4>
    <ul>
        <li>J J Sutherland, Y W Webster, J A Willy, G H Searfoss, K M Goldstein, A R Irizarry,
            D G Hall, and J L Stevens, 'Toxicogenomic module associations with pathogenesis (TXG-MAP):
            A network based approach to understanding drug toxicity', The Pharmacogenomics Journal,
            <A target="_blank" HREF="https://www.nature.com/tpj/journal/vaop/ncurrent/full/tpj201717a.html">Advance Online Publication</A></li>
       <li>J J Sutherland, Robert A Jolly, Keith M Goldstein, and J L Stevens, 'Assessing Concordance of Drug-Induced
           Transcriptional Response in Rodent Liver and Cultured Hepatocytes', PLoS Computational Biology 12(3), March 30, 2016
            <A target="_blank" HREF="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004847">doi:10.1371/journal.pcbi.1004847</A></li>
        <li>...</li>
    </ul>


{% endblock %}