<!DOCTYPE html>
{# Load the tag library #}

{% load bootstrap3 %}

<html lang="en-us">
<head>
    <meta charset="utf-8"><!-- encoding characters -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- some Microsoft Edge/IE stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- viewport -> the user's visible area of a webpage, -> this sets it to normal zoom (scale 1) and width of device -->
    <title>IBRI Toxicogenomic Platform</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# JQuery UI ... not part of django-bootstrap3 #}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/tp/js/base.js"></script>
    <link rel="stylesheet" href="/static/tp/css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% block extra_head_content %}{% endblock %}
</head>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>

<!------Navbar ---------->
{% url 'about' as about %}
{% url 'data' as data %}
{% url 'filters' as filters %}

<header class = "navbar navbar-inverse navbar-fixed-top" role = "banner">
<div class = "container">
    <div class ="navbar-header">
        <button type = "button" class= "navbar-toggle" data-toggle = "collapse" data-target = "#dropdown">
            <span class = "sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="http://www.indianabiosciences.org" target="_blank">
          <img align="left" style="max-width:80px; margin-right:10px; margin-top:10px; margin-left:-15px;"
          src="/static/tp/img/IBRI-Logo-White.png"></a>
        <a href="/" class="navbar-brand"> &nbsp; CTox: Toxicogenomics Platform</a>
    </div><!-- End Navbar Header-->

    <div class = "collapse navbar-collapse" id = "dropdown">
        <ul class = "nav navbar-nav navbar-right" role = "navigation">
                {% if user.is_anonymous %}
                    <li class="dropdown">
                        <a href="{% url 'about' %}" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="nav-label">About</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'about' %}">Overview</a></li>
                            <li><a href="{% url 'training' %}">Training</a></li>
                            <li><a href="{% url 'videos' %}">Videos</a></li>
                            <li><a href="{% url 'references' %}">References</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
               {% else %}
                    <li class="dropdown">
                        <a href="{% url 'data' %}" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="nav-label">Data</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "tp:studies" %}">Studies</a></li>
                            <li><a href="{% url "tp:experiments" %}">Experiments</a></li>
                        </ul>
                    </li>
                    {% if request.session.analyze_list %}
                      <li><a href="{% url "tp:analysis-summary" %}">Results</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="{% url 'filters' %}" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            <span class="nav-label">Filters</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "tp:get-tox-assoc" %}">Toxicity Predictions</a></li>
                            <li><a href="{% url "tp:bookmarks" %}">Gene/Gene Set Bookmarks</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "profile" %}">User: {{ user }}</a></li>
                    <li><a href="{% url "logout" %}">Log Out</a></li>
                {%  endif %}
        </ul>

    </div><!-- End Nav Contents -->
</div><!-- End Container -->
</header>

{% block content %}{% endblock %}

<!-- Sticky Footer -->
<div class="footer_base">
    <div class="footer">
        <table width="100%">
        <tr>
            <td><a HREF="http://indianabiosciences.org"><i>Indiana Biosciences Research Institute</i></a></td>
            <td align="right">Copyright &copy; {% now 'Y' %}</td>
        </tr>
        </table>
    </div>
</div>

</body>
