<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}
<html lang="en-us">
<head>
    <meta charset="utf-8"><!-- encoding characters -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- some Microsoft Edge/IE stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- viewport -> the user's visible area of a webpage, -> this sets it to normal zoom (scale 1) and width of device -->
    <title>IBRI Toxicogenomic Platform</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<!DOCTYPE html>

<body class=" dashboard"
  data-admin-utc-offset="-18000">

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">

        <h1 id="site-name">IBRI Toxicogenomics Platform</h1>

        </div>


        <div id="user-tools">

                {% if user.is_anonymous %}

                    <a href="/">Home</a> |

                    <a href="{% url 'login' %}">login</a>

                {% else %}

                    Welcome, <strong>{{ user }}</strong>.



                   {% if user.is_superuser %}

                        <a href="/">View Site</a> /

                        <a href="/admin">Admin</a> /

                        <a href="{% url "logout" %}">Log out</a>

                   {%  else  %}

                        <a href="/">Home</a> |

                        <a href="/experiments">Experiments</a> |

                        <a href="/profile">My Profile</a> |

                        <a href="{%  url "logout" %}">Log out</a>

                    {%  endif %}

                {% endif %}

        </div>



    </div>
    <!-- END Header -->
</div>

<div id="content">

      {% block content %}{% endblock %}

</div>

<div id="footer" class="fillWidth">
    <table class="baseFooter">
        <tr>
            <td><a HREF="http://indianabiosciences.org"><i>Indiana Biosciences Research Institute</i></a></td>
            <td align="right">Copyright &copy; 2017</td>
        </tr>
    </table>
</div>

</body>


