{% extends "base.html" %}

{% block content %}

  <h2>Welcome to IBRI's Toxicogenomic Platform</h2>

    <strong>Project Goals:</strong> Generate a shared platform for early risk assessment using
    toxicogenomics that can accelerate the development of the supporting science
    and increase adoption of new risks assessment tools by the broader research
    community. This phase of the research project will instantiate the secure
    collaboration tools across the participating organizations, define the conceptual
    architecture and framework that leverages and/or integrates with other efforts in
    toxicogenomics, and generates the first working implementation of this platform to
    deliver a full end-to-end workflow from data to visualizations with to-be-defined research
    methods based on the best practices of the Sponsor(s).

    <p></p>
    <table>
    <tr><th>Available Data Formats</th><th>Available Analysis Methods</th></tr>
    <tr><td>
            <ul>
                <li>Affy Cell Files</li>
                <li>Pre-processed Fold Factors</li>
            </ul>
        </td>
        <td>
            <li>WCNGA</li>
            <li>ARACHE</li>
        </td>
    </tr>
    </table>

    <p></p>

    <hr size="1">
    Indiana Biosciences Research Institute

{% endblock %}