{% extends "base.html" %}

{% block content %}

  <h2>Welcome to IBRI's Toxicogenomic Platform</h2>

    This platform provides tools and workflows for early risk assessment using
    toxicogenomics based on publically available data sources or other data sets that have
    been released for this plait. It is expeted that this platform will accelerate the development
    of the supporting science and increase adoption of new risks assessment tools by the broader research
    community.

    Currently this platform is in the early prototype iate the secure
    collaboration tools across the participating organizations, define the conceptual
    architecture and framework that leverages and/or integrates with other efforts in
    toxicogenomics, and generates the first working implementation of this platform to
    deliver a full end-to-end workflow from data to visualizations with to-be-defined research
    methods based on the best practices of the Sponsor(s).

    <p></p>
    <table width="100%">
    <tr><th>Available Data Formats</th><th>Available Analysis Methods</th></tr>
    <tr><td>
            <ul>
                <li>Affy Cell Files</li>
                <li>RNAseq Data</li>
            </ul>
        </td>
        <td>
            <li>WGCNA - Weighted Gene Co-expression Network Analysis</li>
            <li>RegNet - Gene Regulatory Networks inferred from reverse-engineering of TG-GATEs rat liver repeat dose data (Dow Agro)</li>
        </td>
    </tr>
    </table>

    <h4>Data Sources</h4>
    <ul>
        <li>GEO</li>
        <li>TG-GATEs</li>
        <li>DrugMatrix</li>
    </ul>

    <p></p>


{% endblock %}