{% extends "base.html" %}

{% block content %}

  <h2>Welcome to IBRI's Toxicogenomic Platform</h2>

    <p>This platform provides tools and workflows for early risk assessment using
    toxicogenomics based on publically available data sources or other data sets that have
    been released in support of this platform. It is expected that this platform will accelerate the development
    of the supporting science and increase adoption of new risks assessment tools by the broader research community.</p>

    <p>Currently this platform is in the early prototype phase to establish secure
    collaboration tools for participating organizations and to define the conceptual
    architecture and framework that leverages and/or integrates with other efforts in
    toxicogenomics. The first working implementation of this platform
    delivers a full end-to-end workflow from data to visualizations with to-be-defined research
        methods based on the best practices of the Sponsor(s).</p>

    <p></p>
    <table width="100%">
    <tr><th>Available Data Formats</th><th>Available Analysis Methods</th></tr>
    <tr><td>
            <ul>
                <li>Affymetrix Microarray</li>
                <li>RNAseq</li>
            </ul>
        </td>
        <td>
            <li>Gene Set Enrichment Analysis (GSEA) using Broad Institute MSigDB</li>
            <li>GSEA using WGCNA (Weighted Gene Co-expression Network Analysis) and
                transcription factor-centric rat liver gene network modules</li>
            <li>Transcriptional profil similarity analysis to rate liver reference databases (TG-GATEs, DrugMatrix)</li>
        </td>
    </tr>
    </table>

    <h4>Data Sources</h4>
    <ul>
        <li>GEO</li>
        <li>TG-GATEs</li>
        <li>DrugMatrix</li>
    </ul>

    <p></p>


{% endblock %}