{% extends "base.html" %}

{% block content %}
<div id="header-image">
    <img src="/static/tp/img/image_2.jpg"
    alt="Delivering harmonized analysis methods to understand potential compound toxicity"
    width="100%">
</div>

<div id="content">

  <div style="margin-bottom: 20px;"></div>

  <div class="about-h2">References and Additional Resources</div>

  <div class="about-h3">References</div>

  <a href="https://academic.oup.com/toxsci/issue/170/2" target="_blank"><img src="/static/tp/img/m_toxsci_170_2cover.png"
    style="width: 150px; margin-left: 10px; margin-right: 10px; align: right;" align="right"></a>

  <p>
  Available published peer-reviewed manuscripts:
  <ul>
      <li>Jeffrey J Sutherland, James L Stevens, Kamin Johnson, Navin Elango, Yue W Webster, Bradley J Mills, and Daniel H Robertson,
          'A novel open access web portal for integrating mechanistic and toxicogenomic study results', <b>Toxicological Sciences</b>,
              <a target="_blank" style="color: #35b7f0" href="https://academic.oup.com/toxsci/article/170/2/296/5478579">doi: 10.1093/toxsci/kfz101</a></li>
      <li>J J Sutherland, Y W Webster, J A Willy, G H Searfoss, K M Goldstein, A R Irizarry,
          D G Hall, and J L Stevens, 'Toxicogenomic module associations with pathogenesis (TXG-MAP):
          A network based approach to understanding drug toxicity', <b>The Pharmacogenomics Journal</b>,
          <A target="_blank" style="color: #35b7f0" HREF="https://www.nature.com/articles/tpj201717">doi: 10.1038/tpj.2017.17</A></li>
     <li>J J Sutherland, Robert A Jolly, Keith M Goldstein, and J L Stevens, 'Assessing Concordance of Drug-Induced
         Transcriptional Response in Rodent Liver and Cultured Hepatocytes', <b>PLoS Computational Biology</b> 12(3), March 30, 2016
          <A target="_blank" style="color: #35b7f0" HREF="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004847">doi:10.1371/journal.pcbi.1004847</A></li>
  </ul>
  </p>

  <div class="about-h3">Additional Presentations, Press Releases, News, and Awards</div>

  <p>
  Available items (sorted newest to oldest):
  <ul>
      <li>November 13, 2018, Winner of 2018 Agrow Award for <A target="_blank" style="color: #35b7f0"
                            HREF="https://www.corteva.com/resources/media-center/agrow-best-industry-collaboration-award.html">Best Industry Collaboration</A></li>
      <li>March 08, 2017, <A target="_blank" style="color: #35b7f0"
                            HREF="https://www.indianabiosciences.org/news/?newsname=ibri-lilly-dow-partnership">Press Release</A> announcing the Collaboration</li>
  </ul>
  </p>

  <div class="about-h3">Open Source Software Repository</div>

  <p>
  Software is publicly available on GitHub:
  <ul>
      <li><a href="https://github.com/IndianaBiosciences/toxapp" target="_blank" style="color: #35b7f0">/IndianaBiosciences/toxapp</a></li>
  </ul>
  </p>

  <div class="about-half-line"></div>

  <p>
      If you would like to participate as a part of this collaboration and/or become an early adopter. Please email
      the collaborative tox team  at <a href="mailto:ctox@indianabiosciences.org">ctox@indianabiosciences.org</a>.
  </p>
</div>

{% endblock %}
