{% extends "base.html" %}

{% block content %}

<div id="header-image">
    <img src="/static/tp/img/image_3.jpg"
    alt="Translating transcriptomic results to biology context"
    width="100%">
</div>

<div id="content">
  <div style="margin-bottom: 20px;"></div>

  <div class="about-h2">Knowledge and Training Resources</div>

  <div class="about-h3">User Guides</div>

   <p>Links to available user guides:
       <ul>
          <li><i>Coming soon</i></li>
       </ul>
  </p>

 <div class="about-h3">Training and Videos</div>

   <p>Videos are available on the <A HREF="/videos">Video Page</A></p>

  <div class="about-h3">Explore Test Cases</div>

  <p>
  As you consider CTox and how it might help you in your work, here are a few user guides and test cases to introduce you to CTox and what it can do:
  <ul>
      <li>Rat Liver: Affymetrix (TG-Gates) cholesterol <a target="_blank" style="color: #35b7f0" href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_1.pdf">[user guide]</a>
                          <a target="_blank" style="color: #35b7f0" href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_1_files.zip">[data]</a></li>
      <li>Rat Liver: RNASeq 4 different dose arms: <a target="_blank" style="color: #35b7f0"href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_2.pdf">[user guide]</a>
                          <a target="_blank" style="color: #35b7f0" href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_2_gene_counts.txt">[data]</a></li>
      <li>Mouse Liver: RNASeq (GEO) furan: <a target="_blank" style="color: #35b7f0"href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_3.pdf">[user guide]</a>
                          <a target="_blank" style="color: #35b7f0" href="https://ctox.indianabiosciences.org/docs/use_cases/CTox_use_case_3_gene_counts.txt">[data]</a></li>
  </ul>
  </p>

 <div class="about-half-line"></div>

  <p>
      If you would like to participate as a part of this collaboration and/or become an early adopter. Please email
      the collaborative tox team  at <a style="color: #35b7f0" href="mailto:ctox@indianabiosciences.org">ctox@indianabiosciences.org</a>.
  </p>
</div>


{% endblock %}
