{% extends "base.html" %}

{% block content %}

<div id="header-image">
  <img src="/static/tp/img/image_2.jpg"
  alt="Exposing industrial experience to advance adoption and extension of new methods"
  width="100%">
</div>

<div id="container">
  <div class="about-h2">Available Videos</div>

  <div class="video-container">
    <div class="card">
      <div class="card-header">CTox Use Case Education</div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YKb_gHsrbvc" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card">
      <div class="card-header">CTox Analysis Tools: WGCNA</div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lDgswWA9E3E" frameborder="0" \
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>
{% endblock %}
