{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
  <strong>{{ experiments|length }} experiments selected</strong>
  {% if experiments|length < 20 %}
    :
    <ul>
      {% for exp in experiments %}
        <li>{{ exp.experiment_name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{# TODO more styling info with cards including images at https://v4-alpha.getbootstrap.com/components/card/ #}
{# TODO - could use ajax / javascript to show download in process after clicking export to excel and stops spinning when done ... can be slow  #}
<div class="card-container">
  <div id="genesection" class="card">
    <div class="card-block">
      <h4 class="card-title">Gene-level analysis</h4>
      <a href="{% url 'tp:gene-foldchange' %}" class="reslink btn btn-default">Results in browser</a>
      {% if experiments|length < 50 %}
      <a href="{% url 'tp:export-result' restype='foldchangeresult' %}" class="btn btn-default">Export to Excel</a>
      {% endif %}
      {% if show_leiden %}
      <a href="{% url 'tp:export-leiden' %}" class="btn btn-default">Send results to Leiden portal</a>
      {% endif %}
    </div>
  </div>
  <div id="modulesection" class="card">
    <div class="card-block">
      <h4 class="card-title">WGCNA module analysis</h4>
      <a href="{% url 'tp:module-scores' %}" class="reslink map_ok btn btn-default">Results in browser</a>
      {% if experiments|length < 50 %}
      <a href="{% url 'tp:export-result' restype='modulescores' %}" class="btn btn-default">Export to Excel</a>
      {% endif %}
    </div>
  </div>
  <div id="gsasection" class="card">
    <div class="card-block">
      <h4 class="card-title">Gene set enrichment analysis</h4>
      <a href="{% url 'tp:gsa-scores' %}" class="reslink map_ok treemap_ok btn btn-default">Results in browser</a>
      {% if experiments|length < 50 %}
      <a href="{% url 'tp:export-result' restype='gsascores' %}" class="btn btn-default">Export to Excel</a>
      {% endif %}
    </div>
  </div>
  {# do not show the similarity-based analysis option if too many exps in cart #}
  {% if experiments|length < 50 %}
  <div id="similaritysection" class="card">
    <div class="card-block">
      <h4 class="card-title">Most similar experiments</h4>
      <a href="{% url 'tp:similar-exps' %}" class="reslink btn btn-default">Results in browser</a>
      <a href="{% url 'tp:export-result' restype='experimentcorrelation' %}" class="btn btn-default">Export to Excel</a>
    </div>
  </div>
  {% endif %}
  <div id="toxicologyresultssection" class="card">
    <div class="card-block">
      <h4 class="card-title">Clinical chemistry and/or histology (if available)</h4>
      <a href="{% url 'tp:toxicology-results' %}" class="reslink btn btn-default">Results in browser</a>
      {% if experiments|length < 50 %}
      <a href="{% url 'tp:export-result' restype='toxicologyresult' %}" class="btn btn-default">Export to Excel</a>
      {% endif %}
    </div>
  </div>
  {% if bmd_results %}
  <div id="bmdresultssection" class="card">
    <div class="card-block">
      <h4 class="card-title">Benchmark dose analysis results</h4>
      <a href="{% url 'tp:bmdpathway-results' %}" class="reslink btn btn-default">Results in browser</a>
      <a href="{% url 'tp:export-result' restype='bmdpathwayresult' %}" class="btn btn-default">Export to Excel</a>
      {% for result in bmd_results %}
        <a href="{{ result.link }}" target="_blank" class="reslink btn btn-default">BM2 file for study {{ result.study_name }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}
