{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}

<div class="container">

  <div class="alert alert-info">Bookmark <strong>{{ bookmark_name }}</strong>: {{ bookmark_count }} members</div>

  {% if bookmark_count %}
    <a class="btn btn-default" href="{% url 'tp:feature-empty' pk=bookmark_id %}">Clear Bookmarked gene sets</a>
  {% endif %}

  {% if filtered_features %}
    <a class="btn btn-default" href="{% url 'tp:feature-add-filtered' pk=bookmark_id %}">Bookmark all filtered gene sets</a>
  {% endif %}

  <div class="filter-dialog panel-body">
    <form class="form" action="" method="get">
      {% bootstrap_form filter.form layout='horizontal' %}
      <div class="button-section">
        {% bootstrap_button "Update" button_type="submit" button_class="btn-primary margin_top" extra_classes="table_updater" %}
        <a class="btn btn-default margin_top" href="{{ request.path }}">Clear</a>
        <a class="btn btn-default margin_top" href="{% url 'tp:bookmark-update' pk=bookmark_id %}">Done</a>
        <div class="btn btn-static margin_top">{{ filter.qs.count }} results</div>
      </div>
    </form>
    <div id="uploadIcon"></div>
  </div>

  <h4>Selectable members for bookmark set</h4>
  {% render_table table %}
</div>

{% endblock content %}
