{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div>
  <h4>Saved modules</h4>
  <p>Unchecked features will be removed form the list</p>
</div>

<form method="post" action="">
  {% csrf_token %}

  {% buttons layout='horizontal' %}
    <input id="checkButton" type="button" class="btn-sm" value="select all" />
    <input id="uncheckButton" type="button" class="btn-sm" value="unselect all" />
  {% endbuttons %}

  {% bootstrap_form form layout="horizontal" %}

  {% buttons layout='horizontal' %}
    {% bootstrap_button "Save" button_type="submit" name="_save" button_class="btn-primary" %}
    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
    <a class="btn btn-default" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
  {% endbuttons %}

</form>

{% endblock content %}
