{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="container">
  <h4>Available Studies</h4>

  <table class="table table-striped custab">
    <tr>
      <th>Edit</th>
      <th>Study Name</th>
      <th>Source</th>
      <th>Created</th>
      <th>Owner</th>
      <th>Permission</th>
    </tr>
    {% for study in studies %}
      <tr>
        <td><a href="{% url 'tp:study-update' pk=study.pk %}" class="btn btn-default"
               title="Edit study {{ study.study_name }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td>{{ study.study_name }}</td>
        <td>{{ study.source }}</td>
        <td>{{ study.date_created }}</td>
        <td>{{ study.owner }}</td>
        <td>{{ study.permission }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">No Studies yet.</td>
      </tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

  <a href="{% url 'tp:study-add' %}" class="btn btn-primary btn-default addlink"><span
          class="glyphicon glyphicon-plus"></span> New Study Data</a>
</div>

{% endblock content %}
